@use './scss/colors.scss';
@use './scss/layout.scss';
@use './scss/utils.scss';
@use './scss/components';

:root {
  --primary: #{colors.$primary};
  --background: #{colors.$background};
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--background);
}
